---
import PersonalCard from "@components/PersonalCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import getTagStaticPaths from "src/lib/getTagStaticPaths";

export async function getStaticPaths() {
  const paths = getTagStaticPaths("personal");
  return paths;
}

interface Props {
  posts: CollectionEntry<"personal">[] | undefined;
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout>
  <div class="grid justify-center">
    <div class="mx-auto w-full container">
      <h2 class="text-lg">
        Insights tagged with <span class="font-mono">#{tag}</span>:
      </h2>
    </div>
    {posts?.map((post) => <PersonalCard personalEntry={post} />)}
  </div>
</BaseLayout>
