---
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
  <main transition:animate="slide">
    <article>
      <div class="py-5 pl-2">Soon!</div>
    </article>
  </main>
</BaseLayout>
