---
import Panel from "@components/Panel.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
  <main transition:animate="slide">
    <Panel>
      <div class="py-5 pl-2">Soon!</div>
    </Panel>
  </main>
</BaseLayout>
