---
import { getCollection } from 'astro:content';
import createSlug from "../../../lib/createSlug";
import BaseLayout from '@layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const pages = await getCollection('insight')
  const paths = pages.map(page => {
    return { params: { slug: createSlug(page.data.title), lang: page.data.language }, props: page }
  })
  return paths;
}


const page = Astro.props;
//const formattedDate = page.data.date.toLocaleString(lang);

const { Content } = await page.render();
---
<BaseLayout pageTitle={page.data.title}>
  <h1>{page.data.title}</h1>
  <p>by {page.data.author} •  </p>
  <Content/>
</BaseLayout>
