---
import LanguagePicker from "./LanguagePicker.astro";
const platform = "github";
const username = "withastro";
---

<footer class="footer  p-4 bg-neutral text-neutral-content justify-items-end">
  <div class="px-5">
    <LanguagePicker />
  </div>

</footer>