---
import { getLangFromUrl } from "../i18n/utils";
import "../styles/global.css";
import MobileMenu from "./MobileMenu.svelte";
import NavbarItems from "./NavbarItems.astro";
const lang = getLangFromUrl(Astro.url);
---

<nav class="navbar bg-base-100" transition:persist>
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href={`/${lang}/insight/`}
      >jpalczewski blog</a
    >
  </div>

  <div class="invisible md:visible flex-none">
    <NavbarItems type="menu-horizontal" />
  </div>
  <div class="visible md:hidden">
    <div>
      <MobileMenu client:only="svelte">
        <NavbarItems type="menu-vertical" />
      </MobileMenu>
    </div>
  </div>
</nav>
