---
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"insight"> | CollectionEntry<"personal"> | undefined;
}

const { entry } = Astro.props;
const renderFlag = entry?.data.referencedUrls != undefined;

const descriptionText =
  entry?.data.urlsDescription != undefined
    ? entry?.data.urlsDescription
    : "Addresses referenced in this insight";
---

{
  renderFlag && (
    <div class=" mx-auto">
      <h4 class="font-normal">{descriptionText}:</h4>
      <ul>
        {entry.data.referencedUrls?.map((element) => {
          return (
            <li>
              <a
                class="link no-underline hover:underline font-normal"
                href={element.url}
              >
                {element.description}
              </a>
            </li>
          );
        })}
      </ul>
    </div>
  )
}
