---
import type { CollectionEntry } from 'astro:content';

interface Props {
    insight: CollectionEntry<'insight'> | undefined;
}

const {insight} = Astro.props;
const renderFlag = insight?.data.referencedUrls != undefined;

---
{ renderFlag && 
    <div class=" mx-auto">
        <h4 class="font-normal">Addresses referenced in this insight:</h4>
        <ul>
            {
                insight.data.referencedUrls?.map (  element => {
                    return (
                        <li>
                            <a class="link no-underline hover:underline font-normal" href={element.url}>    
                            {element.description}
                            </a></li>
                    )
                })
            }


        </ul>
    </div>
}
