---
import { getEntry, type CollectionEntry } from "astro:content";
import { createInsightUrl } from "src/lib/createUrls";

interface Props {
  insight: CollectionEntry<"insight"> | undefined;
}

const { insight } = Astro.props;
const renderFlag = insight?.data.relatedInsights != undefined;
---

{
  renderFlag && (
    <div class="bg-primary text-primary-content mx-auto">
      <h4 class="text-primary-content font-normal">Related insights:</h4>
      <ul>
        {insight.data.relatedInsights?.map(async (insight) => {
          const relatedEntry = await getEntry(insight);
          return (
            <li>
              <a
                class="link text-primary-content no-underline font-normal hover:underline"
                href={createInsightUrl(relatedEntry)}
              >
                {relatedEntry.data.title}
              </a>
            </li>
          );
        })}
      </ul>
    </div>
  )
}
