---
import { getLangFromUrl } from "src/i18n/utils";
import type { contentType } from "../lib/contentType";
interface Props {
  tags: string[] | undefined;
  type: contentType;
}

const { tags, type } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<div class="mt-0 pt-0">
  {
    tags?.map((tag) => (
      <a
        class="no-underline px-1 font-normal font-mono"
        href={`/${lang}/${type}/tags/${tag}`}
      >
        #{tag}
      </a>
    ))
  }
</div>
