---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getLangFromUrl } from "src/i18n/utils";
import createSlug from "../../lib/createSlug";
const pageTitle = 'Short';

import { getCollection } from 'astro:content';
const lang = getLangFromUrl(Astro.url);
const blogEntries = await getCollection('insight', ({data}) => { return data.language == lang});
export function getStaticPaths() {
  return [
    {params: {lang: 'pl'}},
    {params: {lang: 'en'}},
  ];
}
---
<BaseLayout pageTitle={pageTitle}>
  <ul>
    {blogEntries.map(blogPostEntry => (
      <li>
        <a href={`/${lang}/insight/${createSlug( blogPostEntry.data.title)}`}>{blogPostEntry.data.title}</a>
      </li>
    ))}
  </ul>
</BaseLayout>