---
import Panel from "@components/Panel.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = "Projekty";
---

<BaseLayout pageTitle={pageTitle}>
  <Panel>
    <div class="py-5 pl-2">Soon!</div>
  </Panel>
</BaseLayout>
