---
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = "Projekty";
---

<BaseLayout pageTitle={pageTitle}>
  <article>
    <div class="py-5 pl-2">Soon!</div>
  </article>
</BaseLayout>
